html {
    font-family: Roboto;
}
body {
    font-family: Roboto;
}


.carer {
    display: block;
	font-size: 50px;
    display: inline-block;
}


.messages {
    display: block;
	font-size: 50px;
    display: inline-block;
}


.datetime {
    display: block;
    margin-bottom: 45px;
}
.date {
	font-size: 20px;
}

.datetime_dem {
	font-size: 50px;
    font-weight: bold;
    display: inline-block;
}

.time {
	font-size: 60px;
    font-weight: bold;
    display: inline-block;
}
.time_item {
    display: inline-block;
}
.second {
    bottom: 0;
	font-size: 30px;
}
@media (max-width: 450px) {
    .date {font-size: 15px;}
    .time {font-size: 45px;}
    .second {font-size: 22px;}
}



.day-progress {
    width: 100%;
}
.now_bar {
    position: absolute;
    height: 100%;
    width: 2px;
    background-color: #0000ff;
}



.material-shadow {
    -webkit-box-shadow: 2px 2px 7px 0px rgba(50, 50, 50, 0.7);
    -moz-box-shadow: 2px 2px 7px 0px rgba(50, 50, 50, 0.7);
    box-shadow: 2px 2px 7px 0px rgba(50, 50, 50, 0.7);
}

.pin-bottom {
    position: absolute;
    bottom: 0;
}


.material-text-dark-primary {color: #000000; opacity: 0.87;}
.material-text-dark-secondary {color: #000000; opacity: 0.54;}
.material-text-dark-disabled {color: #000000; opacity: 0.38;}
.material-text-dark-divider {color: #000000; opacity: 0.12;}
.material-text-light-primary {color: #FFFFFF; opacity: 1.0;}
.material-text-light-secondary {color: #FFFFFF; opacity: 0.7;}
.material-text-light-disabled {color: #FFFFFF; opacity: 0.5;}
.material-text-light-divider {color: #FFFFFF; opacity: 0.12;}


.btn-col-red {background-color: #D50000;}
.btn-col-red:hover {background-color: #B71C1C;}
.btn-col-green {background-color: #4CAF50;}
.btn-col-green:hover {background-color: #43A047;}
.btn-col-yellow {background-color: #FFEB3B;}
.btn-col-yellow:hover {background-color: #FDD835;}
.btn-col-blue {background-color: #2196F3;}
.btn-col-blue:hover {background-color: #1E88E5;}
.btn-col-grey {background-color: #EEEEEE;}
.btn-col-grey:hover {background-color: #E0E0E0;}
/*grey*/
.material-col-grey-50 {background-color: #FAFAFA;}
.material-col-grey-100 {background-color: #F5F5F5;}
.material-col-grey-200 {background-color: #EEEEEE;}
.material-col-grey-300 {background-color: #E0E0E0;}
.material-col-grey-400 {background-color: #BDBDBD;}
.material-col-grey-500 {background-color: #9E9E9E;}
.material-col-grey-600 {background-color: #757575;}
.material-col-grey-700 {background-color: #616161;}
.material-col-grey-800 {background-color: #424242;}
.material-col-grey-900 {background-color: #212121;}
/*primary - blue*/
.material-col-primary-50 {background-color: #E3F2FD;}
.material-col-primary-100 {background-color: #BBDEFB;}
.material-col-primary-200 {background-color: #90CAF9;}
.material-col-primary-300 {background-color: #64B5F6;}
.material-col-primary-400 {background-color: #42A5F5;}
.material-col-primary-500 {background-color: #2196F3;}
.material-col-primary-600 {background-color: #1E88E5;}
.material-col-primary-700 {background-color: #1976D2;}
.material-col-primary-800 {background-color: #1565C0;}
.material-col-primary-900 {background-color: #0D47A1;}
/*accent - amber*/
.material-col-accent-100 {background-color: #FFE57F;}
.material-col-accent-200 {background-color: #FFD740;}
.material-col-accent-400 {background-color: #FFC400;}
.material-col-accent-700 {background-color: #FFAB00;}